<div style="background-color:#171547; height:650px; position: relative; display : flex; align-items : center; border: 2px solid #171547;
    border-radius: 25px;">
	<div style="background-color:#ffffff; height:80%; width:80%;  margin: auto; vertical-align: middle; align:center; position: absolute; z-index:100;border: 2px solid #ffffff; border-radius: 25px;">
    	<img src="https://lh3.googleusercontent.com/bDVcdWP54OXymI4AN3icYY7fKPJDkmDc9f4yF1oC9lCQiIrx8jN6MksOlbCDCdM9TLzr-bkLLemE-X9vueOXtmHf43-LQVDoKazS-bq3VPWJ0EDNtuUaLKnDG9T6JKSA-Ssp2RnKLw=w2400" alt="Logo" 
    	style="display: block; margin: auto;">
    	
    	
		<img src="https://lh3.googleusercontent.com/S0S2uC10za_uo0hSQ1RwMGYomyStfD0cJf8inPb-zjkvguJqMLFZa5Ze7Noxqg0tsZIu2N96Dgrdb_Tbac2sa-29hzDcc8Rggwh5HeganpuVV_ohkpWL6viB10DEih_H159K4pmd6g=w2400" alt="divider" style="display: block; margin: auto; margin-bottom:15px ;margin-top:20px;max-width: 50%;position: relative"/>
		<br/>
    	
    	
    	<div style="margin-bottom:10px" dir="rtl">
    		<%
			  	if(user.gender === "m")
			  	{%>
			  	   <strong>
						<span style="line-height:150%;font-size:20px;color:#171547">عزيزي <%=user.firstName%> <%=user.middleName%>، </span>
					</strong>
			  	<%}
			%>
			<%
			  	if(user.gender === "f")
			  	{%>
			  		<strong>
						<span style="line-height:150%;font-size:20px;color:#171547">عزيزتي <%=user.firstName%> <%=user.surname%>، </span>
					</strong>
			  		
			  	<%}
			 %>
    	
    	
    		
    	</div>
    	
    	<div dir="rtl">
    		<span style="line-height:150%;font-size:16px;font-weight: 500;color:#171547">
				لقد تلقينا منكم طلب لإعادة تعيين كلمة المرور الخاصة بكم. 
				في حال رغبتكم إعادة تعيين كلمة المرور، انقر <a href="<%=url%>">هنا</a>.
				<br/>
				في حال عدم رغبتكم إعادة تعيين كلمة المرور، يرجى تجاهل هذه الرسالة ولن تتم إعادة تعيين كلمة المرور. 

				
			 </span>
    	</div>
		<div style="margin-top:10px" dir="rtl">
    		<strong>
				<span style="line-height:150%;font-size:20px;color:#171547">
					تحياتنا،
					<br/>
					فريق عمل حاضنة أعمال كلية الاقتصاد والعلوم السياسية
				</span>
			</strong>
    	</div>
	
	</div>

</div>