<div style="background-color:#171547; height:1400px; position: relative; display : flex; align-items : center; border: 6px solid #171547;
    border-radius: 25px;">
	<div style="background-color:#ffffff; height:90%; width:100%;  margin: auto; vertical-align: middle; align:center; position: absolute; z-index:100;border: 2px solid #ffffff; border-radius: 25px;">
    	<img src="https://lh3.googleusercontent.com/bDVcdWP54OXymI4AN3icYY7fKPJDkmDc9f4yF1oC9lCQiIrx8jN6MksOlbCDCdM9TLzr-bkLLemE-X9vueOXtmHf43-LQVDoKazS-bq3VPWJ0EDNtuUaLKnDG9T6JKSA-Ssp2RnKLw=w2400" alt="Logo" 
    	style="display: block; margin: auto; padding-top: 20px">
    	
    	
		<img src="https://lh3.googleusercontent.com/S0S2uC10za_uo0hSQ1RwMGYomyStfD0cJf8inPb-zjkvguJqMLFZa5Ze7Noxqg0tsZIu2N96Dgrdb_Tbac2sa-29hzDcc8Rggwh5HeganpuVV_ohkpWL6viB10DEih_H159K4pmd6g=w2400" alt="divider" style="display: block; margin: auto; margin-bottom:15px ;margin-top:20px;max-width: 50%;position: relative"/>
		<br/>
    	
    	
    	<div style="margin-bottom:10px">
    		<strong>
    			<span style="line-height:150%;font-size:20px;color:#171547">Dear Users,</span>
			</strong>
    	</div>
    	
    	<div>
    		<span style="line-height:150%;font-size:16px;color:#171547">
				FEPS BI proudly announces holding a/an "<span style="line-height:150%;font-size:16px;color:#171547;font-weight:800;"> <%= event.topic %> </span>", 
				<br/>
				<%if(event.speakers && event.speakers.length == 1)
				{%>
					which will be delivered by Mr./Ms. "<span style="line-height:150%;font-size:16px;color:#171547;font-weight:800;"> <%= event.speakers[0].name %> </span>".
				<%}%>
				"<span style="line-height:150%;font-size:16px;color:#171547;font-weight:800;"><%= event.topic %></span>" will take place on
				<span style="line-height:150%;font-size:16px;color:#171547;font-weight:700;"> <%= time %></span> at
				Faculty of Economics and Political Science<span style="line-height:150%;font-size:16px;color:#171547;font-weight:700;">" <%= event.venue %>"</span>.
				<br/>
				<br/>
				
				Please check "<a href="<%="http://fepsbi.cairouniv.net/fepsIncubator/"+"eventsDetails?eventId=" + id%>">Event's Page</a>" for further information & for enrollment
				<br/>
				To unsubscribe from our mailing list, click <a href="http://fepsbi.cairouniv.net/fepsIncubator/unsubscribeEmails">here</a>.
				
				
			</span>
    	</div>
    	
    	<br/>
    	<br/>
    	<br/>
    	
    	<div dir="rtl">
    		<span style="line-height:150%;font-size:16px;font-weight: 500;color:#171547">
				تتشرف حاضنة أعمال كلية الاقتصاد و العلوم السياسية بالإعلان عن
				"<span style="line-height:150%;font-size:16px;color:#171547;font-weight:800;"> <%= event.topic %> </span>"
				<br/>
				<%if(event.speakers && event.speakers.length == 1)
				{%>
					، و سوف يديره/ها 
					الأستاذ/ الأستاذة
					"<span style="line-height:150%;font-size:16px;color:#171547;font-weight:800;"> <%= event.speakers[0].name %> </span>".
				<%}%>
				<br/>
				سي/تقعد 
				"<span style="line-height:150%;font-size:16px;color:#171547;font-weight:800;"> <%= event.topic %> </span>"
				في <span style="line-height:150%;font-size:16px;color:#171547;font-weight:700;"> <%= time %></span>
				، بكلية الاقتصاد و العلوم السياسية - جامعة القاهرة 
				<span style="line-height:150%;font-size:16px;color:#171547;font-weight:700;">" <%= event.venue %>"</span>.
				<br/>
				<br/>
				نرجو من سيادتكم زيارة "
				<a href="<%="http://fepsbi.cairouniv.net/fepsIncubator/"+"eventsDetails?eventId=" + id%>">موقعنا الإلكتروني </a>
				" للمزيد من التفاصيل و للتسجيل .
				
				
				<br/>
				في حالة عدم رغبتك في تلقي رسائل بريد إلكترونية في المستقبل، يمكنك الضغط فوق هذا 
				<a href="http://fepsbi.cairouniv.net/fepsIncubator/unsubscribeEmails">الرابط</a>

			</span>
    	</div>
    	
    	<br/>
    	
		<div style="margin-top:10px">
    		<strong>
				<span style="line-height:150%;font-size:20px;color:#171547">
					Best regards,
					<br/>
					FEPS Business Incubator Team
				</span>
			</strong>
    	</div>
	
	</div>

</div>